javascript:
  var RedmineTracky = RedmineTracky || {};
  RedmineTracky.datetimeFormat = "#{I18n.t('timer_sessions.formats.jquery_datetime_format')}";
  RedmineTracky.issueCompletionPath = "#{j auto_complete_issues_path }";
  RedmineTracky.trackerUpdatePath = "#{j update_time_tracker_path }";
  RedmineTracky.datetimeFormatJavascript = "#{I18n.t('timer_sessions.formats.js_datetime_format')}";
