javascript:
  var RedmineTracky = RedmineTracky || {};
  RedmineTracky.datetimeFormat = "#{I18n.t('timer_sessions.formats.jquery_datetime_format')}";
  RedmineTracky.issueCompletionPath = "#{j auto_complete_issues_path }";
