<div data-controller="list" data-issue-completion-target="listAnchor">
  <table data-list-target="table">
    <template>
      <%= render "shared/ticker_issue_list_entry", issue: Issue.new(id: 0) %>
    </template>
    <tbody>
      <% timer_session.relevant_issues.each do |issue| %>
        <%= render "shared/ticker_issue_list_entry", issue: issue %>
      <% end %>
    </tbody>
  </table>
</div>
