.redmine-tracky {
  .times-container {
    column-count: 2;
  }

  .timer-container button svg {
    stroke: #fff;
  }

  input:disabled,
  button:disabled {
    background-color: #e9ecef;
    opacity: 1;
    cursor: default;
  }
}
