@import 'variables';

.redmine-tracky {
  .timer-sessions-table td {
    text-align: left !important;

    &.timer-session-table-issue a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        white-space: normal;
      }
    }
  }

  .timer-session-table-comments {
    overflow: auto;
    overflow-wrap: normal;
  }

  .timer-session-table-actions {
    text-align: right !important;
  }

  .gap-marker {
    position: relative;
    border-bottom: 1px solid $brand-warning;

    &.error-block:after {
      bottom: -2px;
      width: calc(100% + 1px);
      left: -1px;
    }
  }
}
