@import 'variables';

.redmine-tracky {
  .timer-session-table-row {
    display: flex;
  }

  .timer-sessions-table td {
    text-align: left !important;
  }

  .timer-session-subject {
    display: flex;
    flex-grow: 1;

    .issue-links {
      width: 40%;
    }

    .comments {
      width: 60%;
    }
  }

  .timer-session-table-actions {
    text-align: right !important;
  }

  .gap-marker {
    position: relative;
    border-bottom: 1px solid $brand-warning;

    &.error-block:after {
      bottom: -2px;
      width: calc(100% + 1px);
      left: -1px;
    }
  }
}
