.times-container {
  column-count: 2;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.icon-bullet-delete {
  background-image: url(../images/bullet_delete.png);
}
